{
    "$schema": "http://json.schemastore.org/prettierrc",
    "arrowParens": "avoid",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "trailingComma": "none"
}
