article {
    text-align: justify;

    .headshot-title {
        $vertical-margin: 0.3em;

        display: flex;
        flex-direction: column;

        h2 {
            margin: $vertical-margin 0;
            color: var(--darkRed);
        }

        h3 {
            margin: $vertical-margin 0;
            color: var(--red);
        }

        .featured-image {
            margin: $vertical-margin 0;
            align-self: center;
            max-width: 100%;
            height: auto;
        }
    }

    h1 {
        font-family: 'Computer Modern Serif', serif;
        font-size: 1.5em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid var(--gray);
    }

    blockquote.article-excerpt {
        margin: 1em 0;
    }

    p {
        margin: 30px 0;
        font-family: 'Palatino', sans-serif;
    }
}
