article {
    margin: 30px 0;
    text-align: justify;

    .headshot-title {
        display: flex;
        flex-direction: column;

        .featured-image {
            align-self: center;
        }
    }

    h1 {
        font-family: 'Computer Modern Serif', serif;
        font-size: 1.5em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid var(--gray);
    }

    h2 {
        color: var(--darkRed);
    }

    h3 {
        color: var(--red);
    }

    .featured-image {
        max-width: 100%;
        height: auto;
    }

    blockquote.article-excerpt {
        margin: 1em 0;
    }

    p {
        margin: 30px 0;
        font-family: 'Palatino', sans-serif;
    }
}
