$cms: 'Computer Modern Serif', serif;
$ebg: 'EB Garamond', sans-serif;
$pal: 'Palatino', serif;

$black: #070506;
$gray: #aaaaaa;
$lightGray: #cccccc;
$red: #98554f;
$darkRed: #6b261e;
$barnRed: #683636;
$white: #ebe2d8;
