header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;

    #site-title {
        margin: 0;
        padding: 0;
        letter-spacing: 0.05em;
        border-bottom: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        #main-nav-hamburger-container.hide {
            display: none;
        }

        #main-nav-hamburger-container.show {
            #main-nav-hamburger-button {
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 0.5em;

                background: none;
                margin: 0;
                padding: 0.5em;
                border: none;
                line-height: 0;
                cursor: pointer;

                font-size: 17px;

                #main-nav-hamburger-label {
                    font-family: $ebg;
                }
            }
        }

        ul.hide {
            display: none;
        }

        ul.show {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;

            @media screen and (min-width: 700px) {
                flex-direction: row;
                justify-content: space-around;
            }

            li {
                list-style-type: none;
                margin: 0;
                padding: 5px 10px;
                letter-spacing: 0.1em;

                a,
                a:visited {
                    font-family: $ebg;
                    color: var(--black);
                    text-decoration: none;
                }

                a:hover {
                    color: var(--red);
                }
            }
        }
    }
}
