@import 'globals';

#contact-form {
    display: flex;
    flex-direction: column;

    .contact-form-control {
        display: flex;
        flex-direction: column;
    }

    .contact-form-error,
    #contact-form-submit-message {
        font-family: $ebg;
        font-size: 0.75em;
        font-style: italic;
    }

    .contact-form-error.show,
    #contact-form-submit-message.show {
        opacity: 1;
    }

    .contact-form-error.hide,
    #contact-form-submit-message.hide {
        opacity: 0;
        transition: opacity 2s linear;
    }

    #contact-form-submit-message.failure {
        color: red;
    }

    label,
    input,
    textarea,
    button {
        font-family: $ebg;
    }

    input,
    textarea,
    button {
        width: 100%;
        font-size: 17px;
        padding: 0.5em;
        border: 1px solid var(--gray);
        border-radius: 3px;
    }

    input,
    button {
        height: 2.5em;
    }

    textarea {
        height: 8em;
        resize: none;
    }
}
