@import 'globals';
@import 'header';
@import 'body';
@import 'content';
@import 'footer';

:root {
    --black: #{$black};
    --gray: #{$gray};
    --lightGray: #{$lightGray};
    --red: #{$red};
    --darkRed: #{$darkRed};
    --barnRed: #{$barnRed};
    --white: #{$white};
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
